.App {
  color: white;
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #09d3ac;
}


.App-header p {
  width: 40%;
}

.purgeButton {
  margin-top: 3%;
}